<!DOCTYPE html>
<html>
<head>
  <title>SampleForJquery1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.3.js" %>
  <%= csrf_meta_tags %>


  

</head>
<body>

<%= yield %>

</body>
</html>
